.chat-box-right {
    /*display: inline-block;*/
    position: relative;
    padding: 1rem;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 1%;
    width: 300px;
    min-height: 100px;
    background-color: #efefef;
}

.chat-box-right:before {
	content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: -46px;
    right: auto;
    top: 13px;
    bottom: auto;
    border: 32px solid;
    border-color: #efefef transparent transparent transparent;
}

.chat-box-left {
	/*display: inline-block;*/
    position: relative;
    padding: 1rem;
    border-radius: 4px;
    margin-left: 49%;
    margin-top: 1%;
    width: 300px;
    min-height: 100px;
    background-color: #efefef;
}

.chat-box-left:before {
	content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: 241px;
    right: auto;
    top: 13px;
    bottom: auto;
    border: 32px solid;
    border-color: #efefef transparent transparent transparent;
}

.chat-sender-title {
	position: absolute;
	left: 0;
	padding-left: 1rem;
	color: #78b771;
}

.chat-reader-title {
	position: absolute;
	left: 0;
	padding-left: 1rem;
	color: #2A8Bcc;
}

.chat-sidebar {
    
}