
/* demo styles */
.market-shade {
  background-color: rgba(000,000,000,0.80);
  padding: 2em;
  font-family: roboto;
  font-size: 9px;
}

.live-input {
  background-color: rgba(000,000,000,0.00);
  width: 50px;
  border: 1px solid #ccc;
  padding: 0.4em;
}

