@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
*   Template Style 
*
* ======================================================= */

body {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.7;
  color: #777777;
}

.ticker {
  display: flex;
}

.ticker__list {
  display: flex;
  animation: ticker 60s infinite linear;
}

.ticker:hover .ticker__list {
  animation-play-state: paused;
}

.ticker__item {
  float: right;
  padding: 1rem;
  width: 294px;
  height: 35px;
}

@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

.prices {}

.assets {
  color: #000;
}

.price-open {
  color: #9B7B56;
}

.price-close {
  color: #9B7B26;
}

.w-quotes {
  font-weight: bolder;
  color: #2CA8CC;
}

.title {
  font-weight: bolder;
  color: #2CA8CC;
}

#page {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Work Sans", Verdana, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

::-webkit-selection {
  color: #fff;
  background: #52d3aa;
}

::-moz-selection {
  color: #fff;
  background: #52d3aa;
}

::selection {
  color: #fff;
  background: #52d3aa;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gtco-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 20px 0;
  }
}

.gtco-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.gtco-nav a {
  padding: 5px 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gtco-nav .menu-1,
  .gtco-nav .menu-2 {
    display: none;
  }
}

.gtco-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}

.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.gtco-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
  color: #797979;
}

.gtco-nav ul li.has-dropdown {
  position: relative;
}

.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}

.gtco-nav ul li.has-dropdown:hover a,
.gtco-nav ul li.has-dropdown:focus a {
  color: #fff;
}

.gtco-nav ul li.btn-cta a {
  color: #52d3aa;
}

.gtco-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

.gtco-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.gtco-nav ul li.active>a {
  color: #fff !important;
}

#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-video {
  height: 450px;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.gtco-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.gtco-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}

.gtco-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gtco-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}

.gtco-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.gtco-cover {
  height: 520px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}

.section-cover {
  height: 320px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}

.section-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.intro {
  /*background-image:url(/images/img-set/);*/
}

.y-img {
  /*box-shadow: 1px 1px 2px 1px #CCC;*/
}

.y-hr {
  border-top: 1px solid #2CA8CC;
}

.gtco-cover>.gtco-container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .gtco-cover {
    height: 600px;
  }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    /*height: 600px;*/
  }
}

.gtco-cover.gtco-cover-sm {
  height: 600px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
  }
}

#gtco-counter {
  height: 500px;
}

#gtco-counter .display-t,
#gtco-counter .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #gtco-counter {
    height: inherit;
    padding: 7em 0;
  }
  #gtco-counter .display-t,
  #gtco-counter .display-tc {
    height: inherit;
  }
}

.gtco-staff {
  text-align: center;
  margin-bottom: 30px;
}

.gtco-staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.gtco-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.gtco-staff p {
  margin-bottom: 30px;
}

.gtco-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.gtco-social-icons {
  margin: 0;
  padding: 0;
}

.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #52d3aa;
  padding-left: 10px;
  padding-right: 10px;
}

.gtco-social-icons li a i {
  font-size: 20px;
}

.gtco-contact-info ul {
  padding: 0;
  margin: 0;
}

.gtco-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}

.gtco-contact-info ul li:before {
  color: #52d3aa;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'Verdana';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}

.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}

.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}

.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
}

#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  #gtco-header .display-tc h1,
  #gtco-counter .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 40px;
  }
}

#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#gtco-header .display-tc .btn,
#gtco-counter .display-tc .btn,
.gtco-cover .display-tc .btn {
  padding: 15px 30px;
  background: rgb(255, 204, 1);
  !important;
  color: #fff;
  border: none !important;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

#gtco-header .display-tc .btn:hover,
#gtco-counter .display-tc .btn:hover,
.gtco-cover .display-tc .btn:hover {
  background: ##9BC466;
  !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#gtco-counter {
  text-align: center;
}

#gtco-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 100;
  display: block;
}

#gtco-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}

#gtco-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

#gtco-counter .icon i {
  height: 70px;
}

#gtco-counter .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

#gtco-features,
#gtco-features-2,
#gtco-testimonial,
#gtco-services,
#gtco-started,
#gtco-footer,
.gtco-section {
  padding: 1em;
  clear: both;
}

@media screen and (max-width: 768px) {
  #gtco-features,
  #gtco-features-2,
  #gtco-testimonial,
  #gtco-services,
  #gtco-started,
  #gtco-footer,
  .gtco-section {
    padding: 3em 0;
  }
}

#gtco-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

.feature-center {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}

.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #CBB39B;
}

.feature-center p,
.feature-center h3 {
  margin-bottom: 30px;
}

.feature-center h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.feature-left:last-child {
  margin-bottom: 0;
}

.feature-left .icon {
  float: left;
  margin-right: 5%;
  width: 54px;
  height: 54px;
  background: #fff;
  display: table;
  text-align: center;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .feature-left .icon {
    margin-right: 5%;
  }
}

.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
  color: #9B7A55;
}

.feature-left .feature-copy {
  float: left;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 70%;
    float: left;
  }
}

.feature-left .feature-copy h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #5d5d5d;
  margin-bottom: 10px;
}

.gtco-heading {
  margin-bottom: 5em;
}

.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}

.gtco-heading h2 {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
}

.gtco-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

#gtco-testimonial {
  background: #efefef;
}

#gtco-testimonial .testimony-slide {
  text-align: center;
}

#gtco-testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}

#gtco-testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#gtco-testimonial .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#gtco-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 992px) {
  #gtco-testimonial .testimony-slide blockquote {
    width: 100%;
  }
}

#gtco-testimonial .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

#gtco-testimonial .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}

#gtco-testimonial .arrow-thumb a:hover,
#gtco-testimonial .arrow-thumb a:focus,
#gtco-testimonial .arrow-thumb a:active {
  text-decoration: none;
}

.gtco-tabs .gtco-tab-nav {
  clear: both;
  margin: 0 0 3em 0;
  padding: 3px;
  float: left;
  width: 100%;
  background: #f2f2f2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gtco-tabs .gtco-tab-nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  text-align: center;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-tabs .gtco-tab-nav li .icon {
  font-size: 30px;
}

.gtco-tabs .gtco-tab-nav li a {
  padding: 20px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #b3b3b3;
}

.gtco-tabs .gtco-tab-nav li a:hover {
  color: #4d4d4d;
}

.gtco-tabs .gtco-tab-nav li.active a {
  color: #52d3aa;
}

.gtco-tabs .gtco-tab-content-wrap {
  clear: both;
  position: relative;
  top: 70px;
}

.gtco-tabs .gtco-tab-content-wrap .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.gtco-tabs .gtco-tab-content-wrap .tab-content.active {
  opacity: 1;
  visibility: visible;
}

.gtco-tabs .icon-xlg {
  font-size: 400px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .gtco-tabs .icon-xlg {
    font-size: 300px;
  }
}

@media screen and (max-width: 480px) {
  .gtco-tabs .icon-xlg {
    font-size: 200px;
  }
}

.gtco-tabs .icon-xlg i {
  color: #52d3aa;
}

#gtco-started {
  background: #4cc1bd;
  background: -moz-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #4cc1bd), color-stop(100%, #3f95ea));
  background: -webkit-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
  background: -o-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
  background: -ms-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
  background: linear-gradient(135deg, #4cc1bd 0%, #3f95ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc1bd', endColorstr='#3f95ea', GradientType=1);
}

#gtco-started .gtco-heading h2 {
  color: #fff;
}

#gtco-started .form-control {
  background: #CCB19E;
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-started .form-control::-webkit-000-placeholder {
  color: #000;
}

#gtco-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

#gtco-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

#gtco-started .form-control:-ms-input-placeholder {
  color: #000;
}

#gtco-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}

#gtco-started .btn {
  height: 54px;
  border: none !important;
  background: #F7B755;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

#gtco-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#gtco-started .form-inline .form-group .form-control {
  width: 100%;
}

#gtco-started .gtco-heading {
  margin-bottom: 30px;
}

#gtco-started .gtco-heading h2 {
  margin-bottom: 0;
}

#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0;
}

#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  font-size: 13px;
  color: #999;
}

#gtco-footer .gtco-footer-links li a {
  color: #000;
  text-decoration: none;
}

#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: none;
  color: #2AB8CC;
}

#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}

#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #gtco-footer .copyright .pull-left,
  #gtco-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}

#gtco-footer .copyright .block {
  display: block;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #9BC466;
}

.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
  background: #9BC466;
}

.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
  background: #9BC466;
}

.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #9BC466;
}

.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}

#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-offcanvas ul li>ul {
  padding-left: 20px;
  display: none;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a {
  display: block;
  position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a:after {
  position: absolute;
  right: 0px;
  font-family: 'Verdana';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gototop.active {
  opacity: 1;
  visibility: visible;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
  #gtco-offcanvas {
    display: block;
  }
}

.icon-bar {
  color: #fff;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: Verdana, "Work Sans", Arial, sans-serif;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5em;
  background-color: #fff;
  color: #999;
}

.btn.btn-md {
  padding: 8px 20px !important;
}

.btn.btn-lg {
  padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #2CA8CC;
  color: #fff;
  border: 1px solid;
  padding: 0.7em;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #2CA8CC !important;
  border-color: #2CA8CC !important;
}

.btn-primary.btn-outline {
  background: transparent;
  color: #2CA8CC;
  border: 1px solid #2CA8CC;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #2CA8CC;
  color: #fff;
}

.btn-success {
  background: #03971E;
  color: #fff;
  border: 0px;
  padding: 0.8em;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background-color: #FFF;
  color: #000;
  border-radius: 4px;
  padding: 0.8em;
  height: 50px;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #52d3aa;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../svg/yeelda-loading.svg) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.dino-input {
  padding: 0.8em;
  background-color: #466737;
  color: #FFF;
  border: none;
  width: 80%;
}

.dino-link {
  color: #ECB;
}

.ml7 {
  position: relative;
  font-weight: 400;
}

.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {}

/* chat styles */

.chat-btn {
  margin-right: 80px;
  border-radius: 4px;
  padding: 0.3em;
}

.chat-area {
  height: 300px;
  width: 120px;
}

.wizard {
  margin: 20px auto;
  background-color: rgba(225, 225, 225, 0.67);
  padding: 1em;
  border-radius: 4px;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard>div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
  color: #000;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs>li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs>li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs>li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs>li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}

.top-nav {
  padding: 0.8em;
  background-color: #2AA6CA;
  color: #FFF;
}

.y-nav a {
  color: #FFF;
  text-decoration: none;
}

.y-nav {
  margin-left: 10px;
}

.y-nav:hover {
  background-color: #FFFFFF;
}

.top-nav-item {
  margin-left: 480px;
}

.fixed-carousel-card {
  height: 450px;
  width: 400px;
  margin-left: 130px;
  padding: 1em;
  position: absolute;
  top: 100;
  z-index: 10;
  background-color: rgba(000, 000, 000, 0.90);
  color: #f2f2f2;
}

.fixed-carousel-title {
  margin-top: 200px;
  font-size: 34px;
}

.div-card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
}

.card-feel {
  box-shadow: 1px 1px 4px 1px #CCC;
  padding: 1em;
  border-radius: 4px;
}

.news-frame {
  margin-left: 140px;
  margin-right: 20px;
  position: absolute;
  background-color: #FFF4CA;
  padding: 1em;
  top: -50px;
}

.top-nav {
  padding: 0.8em;
  background-color: #2AA6CA;
  color: #FFF;
}

.y-navbar {
  margin-right: 30px;
  margin-top: 25px;
}

.y-navbar>li>a {
  padding: 1em;
}

.top-nav-item {
  margin-left: 480px;
}

.push-notify-link {
  text-decoration: none;
  text-shadow: 1px 1px 1px #ccc;
  color: #fff;
  cursor: pointer;
}

.a {
  color: #797979;
}

.a:hover {
  color: #29A6C9;
}

.y-count-number {
  /*font-size: 14px;*/
  color: #797979;
  font-size: 15px;
}

.y-count-title {
  /*font-size: 12px;*/
  color: #797979;
  font-size: 10px;
}

.y-count-row {
  padding: 1em;
  color: #999;
}

.y-cl {
  padding-top: 10px;
}

.y-rl {}

.y-card {
  background-color: #2CA8CC;
  max-height: 550px;
  height: 500px;
  width: 100%;
  color: #FFF;
}

.y-card-title {
  font-size: 52px;
  font-weight: 300;
  color: #FFF;
}

.y-card-body {
  margin-right: 22%;
  margin-left: 22%;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .y-card-body {
    margin-right: 1.2%;
    margin-left: 1.2%;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.y-card-body p {
  padding: 0.8em;
  font-size: 13px;
}

.y-btn {
  padding: 0.8em;
  text-align: center;
  color: #FFF;
}

.y-btn-primary {
  border-radius: 2px;
  border: 1px solid #FFF;
  background-color: #2CA8CC;
  width: 20%;
}

.y-btn-large {
  width: 30%;
}

.y-btn-sucess {
  border-radius: 2px;
  border: 2px solid #FFF;
  background-color: #8BB91C;
}

.y-btn-info {
  border-radius: 2px;
  border: 2px solid rgb(255, 204, 1);
  background-color: rgb(255, 204, 1);
}

.y-btn-mini {
  border: 1px solid rgb(255, 204, 0);
  background-color: rgb(255, 204, 0);
  color: #FFF;
  padding: 0.7em;
  font-size: 11px;
  border-radius: 2px;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 12px;
}

.y-sag-image {
  position: absolute;
  margin-top: -35px;
  left: 0;
}

.y-platform-card {
  background-color: #F0F0F0;
  min-height: 550px;
  width: 100%;
  color: #000;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .y-platform-card {
    background-color: #F0F0F0;
    min-height: 100%;
    width: 100%;
    color: #000;
    padding: 1em;
  }
}

.y-platform-card-white .y-platform-title {
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.y-platform-card-white p {
  font-size: 11px;
  margin-left: 10px;
  color: #999;
}

.y-platform-card-white ul li .y-list-data {
  font-size: 11px;
  color: #999;
  margin-left: 10px;
}

.y-badge-success {
  border-radius: 15px;
  background-color: #99C468;
  color: #f7f7f7;
  border: 1px solid #99C468;
  padding: 0.5em;
  font-size: 10px;
  width: 51px;
  text-align: center;
  margin-left: 10px;
}

.y-platform-card-white {
  box-shadow: 0px 0px 20px 0px #CCC;
  padding: 0.5em;
  background-color: #FFFFFF;
  margin: 20px;
  height: 420px;
}

@media screen and (max-width: 768px) {
  .y-platform-card-white {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.y-list-item {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #platform-features-div {
    display: none;
  }
}

.y-feature-card {
  box-shadow: 0px 0px 20px 0px #CCC;
  padding: 0;
  background-color: #FFFFFF;
  margin: 20px;
  height: 600px;
  /*width: 100%;*/
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.y-feature-body {
  background-color: #2c84cc;
  height: 600px;
  width: 100%;
  color: #FFF;
}

.y-feature-sidebar {
  height: 600px;
  color: #FFF;
  padding: 2em;
  margin-top: 10px;
}

.y-feature-sidebar ul>li {
  padding: 1.8em;
}

.y-feature-sidebar .y-active {
  color: #2CA8CC;
}

.y-video-intro {
  height: 400px;
  background-image: url('/images/img-set/video-intro.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .y-video-intro {
    height: 194px;
  }
}

.y-video-intro-overlay {
  position: absolute;
  top: 50;
  left: 0;
  right: 0;
  bottom: 20;
  background-color: rgba(0, 0, 0, 0.79);
  min-height: 430px;
  z-index: 899;
}

.y-play-btn {
  position: absolute;
  top: 0;
  margin-top: 15%;
  z-index: 999;
}

.y-blog-wrapper {
  min-height: 500px;
  background-color: #F0F0F0;
  padding: 2em;
}

.y-blog-card {
  height: 358px;
  box-shadow: 0px 0px 10px 0px #F0F0F0;
  background-color: #FFF;
  width: 100%;
}

.y-blog-div {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 780px) {
  .y-blog-div {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.y-blog-title {
  padding: 1em;
}

.y-blog-image img {
  border-radius: 0px;
}

.y-blog-link {
  padding: 1em;
  color: #2CA8CC;
}

.y-blog-link a {
  font-weight: bold;
  font-size: 12px;
  color: #2CA8CC;
}

.y-footer-title {
  font-weight: bold;
  font-size: 14px;
}

.y-socials-handler {
  padding: 1em;
}

.y-fixed-card-image {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 0px;
  box-shadow: 0px 0px 3px 0px #2c84cc;
}

#social-media-footer {
  background-color: #F0F0F0;
}

.socials img {
  padding: 0.5em;
}

.y-signin-wrapper {
  box-shadow: 0px 0px 20px 0px #CCC;
  padding: 0;
  background-color: #FFFFFF;
  height: 650px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 23%;
}

.y-signin-card {
  box-shadow: 0px 0px 20px 0px #CCC;
  padding: 0;
  background-color: #FFFFFF;
  height: 650px;
  /*width: 100%;*/
}

.y-signin-image {
  position: absolute;
  margin-top: -45px;
  margin-left: -45px;
}

.y-signin-leftbar {
  /*float: left;*/
  height: 600px;
  /*padding: 2em;*/
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
}

.y-signin-rightbar {
  background-color: #2CA8CB;
  height: 650px;
  width: 100%;
  color: #FFF;
  float: right;
}

.y-signin-leftbar .form-group {
  margin-bottom: 30px;
}

.y-signup-addon {
  width: 100%;
  margin-top: 40%;
}

.y-signup-addon a {
  text-decoration: underline;
  color: #FFF;
  font-size: 13px;
}

.y-signin-rightbar .y-signup-addon p {
  margin-bottom: 25px;
  font-size: 14px;
}

.y-thick-border {
  border: 2px solid #FFF;
}

.y-login-title {
  position: absolute;
  margin-top: 145px;
  margin-left: 133px;
  margin-bottom: 50px;
}

.y-login-title h1 {
  font-size: 77px;
  font-weight: 600;
}

.y-step-checked {
  font-size: 22px;
  color: rgb(47, 128, 237);
}

.progress-indicator {}

.progress-indicator .step-indicator {
  margin-right: 2em;
  position: relative;
  margin-top: 30px;
}

.y-signup-wrapper {
  width: 83%;
}

.step-indicator {}

.step-wizard {
  margin-top: -20px;
}

.y-find-farmers {
  margin-top: 100px;
  padding: 1em;
  background-color: rgba(242, 242, 242);
}

.y-farmer-profile-card {
  background-color: #FFF;
  color: #707070;
  margin: 10%;
}

.y-farmer-addon {
  border-top: 1px solid #CCC;
  padding: 0.5em;
  color: #2CA8C9;
  cursor: pointer;
}

.y-farmer-image {
  padding: 1em;
  margin-bottom: 10px;
}

.y-farmer-addon:hover {
  color: #99C468;
  cursor: pointer;
}

#y-market-section {
  padding-top: 5%;
}

.y-marketplace-card {
  position: relative;
  display: flex;
  padding-top: 5em;
}

.y-equipment-card {
  background-color: rgba(242, 242, 242);
  padding-top: 5em;
}

.y-equipment-item-card {
  background-color: rgba(242, 242, 242);
  padding-top: 5em;
}

.select-search-input {
  border: 0px;
  padding: 0.5em;
  width: 90%;
}

.y-search-btn {
  border: 0px;
  padding: 0.5;
  background-color: transparent;
  color: #707070;
  float: right;
  margin-right: 20px;
  margin-top: 7px;
}

.y-search-div {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.load-products {
  padding: 1em;
  background-color: rgba(242, 242, 242);
}

.y-image {
  cursor: pointer;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0.5rem;
  box-shadow: 1px 1px 5px 1px #CCC;
}

.y-aboutus-banner {
  position: relative;
  /* top: 0; */
  margin-top: -64px;
  height: 446px;
  width: 100%;
}

.y-aboutus-banner-overlay {
  position: absolute;
  margin-top: -64px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.49);
  height: 446px;
  z-index: 500;
}

.y-aboutus-banner-img {
  position: absolute;
  top: 0;
  z-index: 520;
  margin-top: 130px;
}

.y-aboutus-p {
  color: #737373;
}

.y-aboutus-mission-card {
  background-color: #FFF;
  padding: 4rem;
  box-shadow: 1px 1px 5px 1px #CCC;
  border-radius: 2px;
  width: 85%;
}

.y-aboutus-vision-card {
  background-color: #FFF;
  padding: 4rem;
  box-shadow: 1px 1px 5px 1px #CCC;
  border-radius: 2px;
  width: 85%;
  z-index: 20;
  position: relative;
}

.y-aboutus-mission-card p {
  color: #999;
}

.y-aboutus-vision-card p {
  color: #999;
}

.y-shade-bg {
  background-color: rgba(242, 242, 242);
}

.y-simple-title {
  color: #2AC;
  font-size: 15px;
  font-weight: 400;
}

.y-pad-content {
  padding-top: 5rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.y-aboutus-explain {
  padding: 3.5rem;
  background-color: rgba(44, 168, 204, 0.18);
  color: #999;
  margin-left: 20%;
  margin-right: 20%;
  /*margin-top: -10px;*/
  z-index: 10;
}

.y-aboutus-overlap {
  background-color: rgba(44, 168, 204, 0.18);
  height: 50px;
  position: relative;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: -25px;
  ;
}

.y-aboutus-div-icon {
  position: absolute;
  top: 0;
  width: 86px;
  height: 86px;
  margin-left: -90px;
  margin-top: -45px;
  z-index: 100;
}

.y-aboutus-corevalue {
  height: 250px;
  width: 100%;
  margin-top: 20px;
}

.y-aboutus-corevalue-img {
  position: relative;
  top: 0;
  z-index: 520;
  margin-top: -253px;
  margin-left: -5px;
}

.y-aboutus-simple-card {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2rem;
  color: #999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 50px;
  width: 95%;
}

.y-aboutus-objectives {
  padding: 2rem;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  color: #999;
}

.y-aboutus-strategic {
  background-color: #FFF;
  padding-left: 2.5rem;
  padding-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 50px;
  border-radius: 2px;
  width: 95%;
}

.y-aboutus-strategic-title {
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 204, 1);
}

.y-aboutus-list-item {
  padding-bottom: 20px;
}

.y-aboutus-strategic-core {
  background-color: rgb(44, 168, 204);
  color: #FFF;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 50px;
  border-radius: 0px;
  width: 95%;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.y-aboutus-strategic-win {
  background-color: rgb(255, 204, 1);
  color: #FFF;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 50px;
  border-radius: 0px;
  width: 95%;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.y-aboutus-strategic-enhance {
  color: #FFF;
  background-color: rgb(203, 179, 155);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 50px;
  border-radius: 0px;
  width: 95%;
  font-size: 12px;
  margin-bottom: 1.5rem;
}

.y-feature-card-contact {
  box-shadow: 0px 0px 20px 0px #CCC;
  padding: 0;
  background-color: #FFFFFF;
  margin: 20px;
  height: 600px;
  /*width: 100%;*/
  margin-bottom: 5%;
  margin-top: 1%;
}

.y-feature-sidebar-contact {
  height: 600px;
  color: #FFF;
  /*margin-top: 10px;*/
}

.y-feature-body-contact {
  background-color: #2c84cc;
  height: 600px;
  width: 100%;
  color: #FFF;
}

.y-contact-form-div {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 15rem;
}

.y-contact-textarea {}

.y-blue-title {
  color: #2c84cc;
  font-size: 16px;
  font-weight: 400;
}

.carts_total {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 6px;
}

.y-faq-card {
  position: relative;
  width: 100%;
  box-shadow: rgba(45, 61, 117, 0.15) 1px 1px 50px;
  background: rgb(255, 255, 255);
  min-height: 300px;
  margin-bottom: 130px;
  padding-top: 5rem;
  padding-left: 14rem;
  padding-right: 14rem;
}

.y-faq-image {
  width: 10.4rem;
  height: 10.4rem;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  background: rgb(44, 168, 204);
  border-radius: 50%;
  margin-left: 10px;
}

.y-btn-white-bg {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0.3rem 0.3rem 2rem;
  font-size: 1.4rem;
  background: rgb(255, 255, 255);
  padding: 1.5rem 3rem;
  color: #000;
}

.blue-circle {
  width: 10.4rem;
  height: 10.4rem;
  transform: translate(-50%, -50%);
  background: rgb(44, 168, 204);
  border-radius: 50%;
}

.yellow-circle {
  width: 10.4rem;
  height: 10.4rem;
  transform: translate(-50%, -50%);
  background: rgb(247, 184, 87);
  border-radius: 50%;
}

.brown-circle {
  width: 10.4rem;
  height: 10.4rem;
  transform: translate(-50%, -50%);
  background: rgb(203, 179, 155);
  border-radius: 50%;
}

.list-group li {
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.future-market-profile {
  height: 120px;
  width: 120px;
  border: 1px solid #999;
  border-radius: 15px;
  margin-bottom: 10px;
}

.profile-thumbnail {
  height: 82px;
  width: 77px;
  border: 3px solid #fdfafa;
  transform: translate(-50%, -50%);
  background: rgb(44, 168, 204);
  border-radius: 50%;
  background-size: cover;
  margin-left: 47%;
  margin-top: 69%;
  position: absolute;
}

.profile-setting-thumbnail {
  height: 139px;
  width: 136px;
  border: 3px solid #fdfafa;
  transform: translate(-50%, -50%);
  background: rgb(44, 168, 204);
  border-radius: 50%;
  background-size: cover;
  margin-left: 15%;
  margin-top: 34%;
  position: absolute;
}

.settings-wrapper {
  padding-top: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

/* On mouse-over, add a deeper shadow */

.settings-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.settings-wrapper table tr td {
  border: 0px;
  padding: 3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 3px 0px #999;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
  height: 18px;
  width: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-white {
  color: #ffffff;
}

.left-edit-icon {
  right: 0;
  padding: 3rem;
  margin-top: 10rem;
  position: absolute;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  -webkit-border-radius: 50%;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #CFC0CFF;
    -webkit-box-shadow: 0 0 3px #CFC0CFF;
  }
  50% {
    background-color: #FF0000;
    -webkit-box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #CFC0CFF;
    -webkit-box-shadow: 0 0 3px #CFC0CFF;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #CFC0CFF;
    -moz-box-shadow: 0 0 3px #CFC0CFF;
  }
  50% {
    background-color: #FF0000;
    -moz-box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #CFC0CFF;
    -moz-box-shadow: 0 0 3px #CFC0CFF;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #CFC0CFF;
    box-shadow: 0 0 3px #CFC0CFF;
  }
  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #CFC0CFF;
    box-shadow: 0 0 3px #CFC0CFF;
  }
}

@keyframes glowing {
  0% {
    background-color: #CFC0CFF;
    box-shadow: 0 0 3px #CFC0CFF;
  }
  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #CFC0CFF;
    box-shadow: 0 0 3px #CFC0CFF;
  }
}

/*# sourceMappingURL=style.css.map */
