.chat-wrapper {
    background-color: rgba(000,000,000,0.00);
    border-radius: 4px;
    border: 1px solid #fff;
    height: 400px;
    overflow-y: scroll;
}

.chat-input {
    background-color: rgba(000,000,000,0.00);
    border-radius: 4px;
    border: 1px solid #fff;
}


.chat-box-right {
    position: relative;
    background-color: rgba(255,255,255, 1.50);
    color: #000;
    padding: 0.8em;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 11px;
}

.chat-box-right::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 15px;
    border: 10px solid transparent;
    border-right-color: rgba(255,255,255, 1.50);
}

.chat-box-left {
    position: relative;
    background-color: rgba(255,255,255, 1.50);
    color: #000;
    padding: 0.8em;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 55%;
    border-radius: 5px;
    font-size: 11px;
}

.chat-box-left::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 15px;
    border: 10px solid transparent;
    border-left-color: rgba(255,255,255, 1.50);
}

.load-associations  {
    background-color: rgba(000,000,000,0.50);
    padding: 1em;
}

.create-form {
    background-color: rgba(000,000,000,0.50);
    padding: 1em;
}

.y-input-group {
    border: 1px solid #999;
}

.y-chat-textarea {
    border: 0rem;
    padding: 1rem;
    resize: none;
}

.y-chat-btn {
    border: none;
    padding: 1rem;
}